html, h1 {
    font-family: sans-serif;
    color: white;
}

body {
    background-color: #2f405d;
}

a, a:visited {
    color: #7694ca;
}

a:hover, a:active:hover {
    color: #96b9ff;
}

ul.flashes {
    margin: 0;
    padding-left: 0;
}

ul.flashes li {
    list-style-type: none;
    padding: 5px;
    background-color: #687c9e;
    border: 1px solid #d6dfea;
}

.hidden {
    display: none;
}
