{% extends 'base.html' %}

{% block bodyclass %}about{% endblock %}

{% block content %}

    <h1>About</h1>

    <p>Diese Webapp habe ich (Danilo) gebastelt, um die Planung der
    Bildtechnik-Jobs zu vereinfachen. Bei Fragen, Fehlern und Anregungen
    erreichst du mich auf {{ "gezuru@gmail.com"|urlize }} oder persönlich am
    Sonntagabend im O2.</p>

    <p>Die Software ist in Python / Flask geschrieben und ist auf
    <a href="https://github.com/dbrgn/pcs-matrix">Github</a> verfügbar.</p>

{% endblock %}
