<!doctype html>
<html>
    <head>
        <title>Planning Center Matrix</title>
        <link rel="stylesheet" href="static/style.css" type="text/css">
    </head>
    <body>
        <h1>Planning Center Matrix</h1>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% if is_logged_in %}
            <h3>Logout</h3>
            <a href="/logout">Click here to logout.</a>
        {% else %}
            <h3>Login</h3>
            <a href="/login">
                <img src="/static/planning_center_online_logo.png" alt="Login">
            </a>
        {% endif %}

        <h3>Session</h3>
        <pre>{{ session }}</pre>

        <h3>Bereich</h3>
        <select id="section">
            <option value="technik">Technik</option>
        </select>

        <h3>Zeitbereich</h3>
        Von <input type="date" name="startdate">
        bis <input type="date" name="enddate">
    </body>
</html>
