{% extends 'base.html' %}

{% block bodyclass %}home{% endblock %}

{% block content %}

    <h1>Willkommen</h1>

    <p>Dies ist eine kleine Webapp zum einfacheren Planen von
    Job-Zuteilungen im O2 Planning Center.</p>

    <p>Bei Fragen, Fehlern und Anregungen wende dich an Danilo
    ({{ "gezuru@gmail.com"|urlize }}).</p>

    <div class="spacer-20">
        {% if is_logged_in %}
            <a href="/step0/" class="btn btn-lg btn-primary">Assistent Starten</a>
        {% else %}
            <a href="/login/" class="btn btn-lg btn-primary">Login</a>
        {% endif %}
    </div>

{% endblock %}
