{% extends 'base.html' %}

{% block bodyclass %}matrix{% endblock %}

{% block content %}

    <h1>Planungs-Matrix</h1>

    <p>In der folgenden Matrix sieht man auf einen Blick, wer wann und wie
    häufig eingeteilt ist.</p>

    <div id="tablewrapper" class="col-md-12">
        <table class="table table-hover table-condensed table-bordered" id="matrix">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    {% for dateobj in dates %}
                        <th>{{ dateobj.strftime("%d.%m.") }}</th>
                    {% endfor %}
                    <th>Anzahl</th>
                </tr>
            </thead>
            <tbody>
                {% for person, persondata in people.iteritems() %}
                    <tr>
                        <th>{{ person }}</th>
                        {% for dateobj in dates %}
                            <td>{{ persondata.get(dateobj, "")|join(", ") }}</td>
                        {% endfor %}
                        <td>{{ persondata.get("count", 0) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
