{% extends 'base.html' %}

{% block bodyclass %}step1{% endblock %}

{% block content %}

    <h1>Gottesdienste</h1>

    <p>Hier kann der gewünschte Gottesdienst (O2, Homerun, etc...) gewählt
    werden.</p>

    <form action="/step2/" method="get">

        <h3>Service Type</h3>

        <select name="service_type">
            {% for service_type in service_types %}
                <option value="{{ service_type.id }}">{{ service_type.name }}</option>
            {% endfor %}
        </select>

        <input type="hidden" name="start_date" value="{{ start_date }}">
        <input type="hidden" name="end_date" value="{{ end_date }}">

        <div class="spacer-20">
            <input type="submit" class="btn btn-primary" value="Weiter">
        </div>

    </form>

{% endblock %}
